In [32]:
import pandas as pd
from datetime import datetime

In [33]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)
pd.set_option('display.max_colwidth', 100)
pd.options.mode.chained_assignment = None  # default='warn'

## Read file

In [34]:
listing_file = pd.read_csv('../listings.csv', encoding='iso-8859-1', low_memory=False)

## Delete useless columns

In [35]:
cols = [c for c in listing_file.columns if c.lower()[-3:] != 'url']
listing = listing_file[cols].drop(
    columns=[
        'name', 'host_name', 'scrape_id', 'market', 'host_location', 'smart_location', 'license',
        'country_code', 'country', 'city', 'state', 'neighbourhood_cleansed', 'notes',
        'neighbourhood_group_cleansed', 'neighbourhood', 'transit', 'calendar_last_scraped',
        'calendar_updated', 'street', 'host_neighbourhood', 'last_scraped', 'experiences_offered'
    ]
).fillna(0)

amount = len(listing)
listing.shape

(24194, 68)

## Replace type with numbers

In [36]:
def make_dict(table, col_name: str) -> dict:
    a_dict = {}
    for b in range(len(table)):
        a_dict.update({table[col_name][b]:table.Num_Represent[b]})
        
    return a_dict

In [37]:
def replacing(col_name, target_dict):
    for i in range(len(listing[col_name])):
        listing[col_name][i] = target_dict[listing[col_name][i]]

In [38]:
def make_table(col_name: str) -> pd.core.frame.DataFrame:
    grouping = listing.groupby([col_name])
    grouping_list = grouping.size().reset_index(name='counts')
    gp_col = grouping_list.sort_values(['counts'], ascending=False)
    
    replace_num = [i + 1 for i in range(len(grouping_list))]
    replace_num.sort(reverse=True)
    gp_col['Num_Represent'] = replace_num
    return gp_col

### Replace bed type

In [39]:
bed_gp_table = make_table('bed_type')
bed_gp_table

        bed_type  counts  Num_Represent
4       Real Bed   24051              5
2          Futon      69              4
3  Pull-out Sofa      54              3
0         Airbed      11              2
1          Couch       9              1

In [40]:
bed_dict = make_dict(bed_gp_table, 'bed_type')
bed_dict

{'Airbed': 2, 'Couch': 1, 'Futon': 4, 'Pull-out Sofa': 3, 'Real Bed': 5}

In [41]:
replacing('bed_type', bed_dict)

In [42]:
listing['bed_type']

0        5
1        4
2        5
3        5
4        5
        ..
24189    5
24190    5
24191    5
24192    5
24193    5
Name: bed_type, Length: 24194, dtype: object

### Replace room type

In [43]:
room_gp_table = make_table('room_type')
room_gp_table

         room_type  counts  Num_Represent
0  Entire home/apt   14868              4
2     Private room    8454              3
1       Hotel room     436              2
3      Shared room     436              1

In [44]:
room_dict = make_dict(room_gp_table, 'room_type')
room_dict

{'Entire home/apt': 4, 'Hotel room': 2, 'Private room': 3, 'Shared room': 1}

In [45]:
replacing('room_type', room_dict)

In [46]:
listing['room_type']

0        3
1        3
2        4
3        3
4        3
        ..
24189    1
24190    1
24191    1
24192    3
24193    4
Name: room_type, Length: 24194, dtype: object

### Replace property type

In [47]:
property_gp_table = make_table('property_type')
property_gp_table

             property_type  counts  Num_Represent
1                Apartment   13049             37
22                   House    6352             36
33               Townhouse    1530             35
13             Condominium     559             34
30      Serviced apartment     516             33
36                   Villa     381             32
19              Guesthouse     323             31
18             Guest suite     305             30
14                 Cottage     214             29
3        Bed and breakfast     199             28
6                 Bungalow     181             27
26                    Loft     177             26
5           Boutique hotel      64             25
17               Farm stay      52             24
20                  Hostel      49             23
29                   Other      42             22
7                    Cabin      42             21
32              Tiny house      25             20
21                   Hotel      21             19
8                Camper/RV      17             18
0               Aparthotel      14             17
16             Earth house      14             16
31                    Tent      13             15
9                 Campsite       9             14
4                     Boat       8             13
28            Nature lodge       7             12
24                     Hut       5             11
15              Dome house       5             10
2                     Barn       5              9
12                  Chalet       4              8
35               Treehouse       4              7
11                  Castle       3              6
23               Houseboat       1              5
25          Kezhan (China)       1              4
27          Minsu (Taiwan)       1              3
10  Casa particular (Cuba)       1              2
34                   Train       1              1

In [48]:
property_dict = make_dict(property_gp_table, 'property_type')
property_dict

{'Aparthotel': 17,
 'Apartment': 37,
 'Barn': 9,
 'Bed and breakfast': 28,
 'Boat': 13,
 'Boutique hotel': 25,
 'Bungalow': 27,
 'Cabin': 21,
 'Camper/RV': 18,
 'Campsite': 14,
 'Casa particular (Cuba)': 2,
 'Castle': 6,
 'Chalet': 8,
 'Condominium': 34,
 'Cottage': 29,
 'Dome house': 10,
 'Earth house': 16,
 'Farm stay': 24,
 'Guest suite': 30,
 'Guesthouse': 31,
 'Hostel': 23,
 'Hotel': 19,
 'House': 36,
 'Houseboat': 5,
 'Hut': 11,
 'Kezhan (China)': 4,
 'Loft': 26,
 'Minsu (Taiwan)': 3,
 'Nature lodge': 12,
 'Other': 22,
 'Serviced apartment': 33,
 'Tent': 15,
 'Tiny house': 20,
 'Townhouse': 35,
 'Train': 1,
 'Treehouse': 7,
 'Villa': 32}

In [49]:
replacing('property_type', property_dict)

In [50]:
listing['property_type']

0        36
1        37
2        37
3        36
4        36
         ..
24189    36
24190    36
24191    36
24192    35
24193    37
Name: property_type, Length: 24194, dtype: object

## Replace list type cells data

In [51]:
for i in range(amount):
    listing['host_verifications'][i] = len(listing['host_verifications'][i])
    listing['amenities'][i] = len(listing['amenities'][i])

## Convert string

### Delete '$' & '%' & ',' inside numbers

In [52]:
for c in listing:
    try: 
        listing[c] = listing[c].str.replace('$', '')
        listing[c] = listing[c].str.replace('%', '')
        listing[c] = listing[c].str.replace('VIC', '')
        listing[c] = listing[c].str.replace(',', '')
    except AttributeError:
        pass

### Convert **f** to **0** and **t** to **1**, **nan** to **0**

In [53]:
for tf in listing:
    if 'is_' in tf  or 'has_' in tf or 'identity_verified' in tf or 'require' in tf or 'bookable' in tf:
        print(f"Processing column {tf}")
        for i in range(amount):
            if listing[tf][i] == 'f':
                listing[tf][i] = 0
            elif listing[tf][i] == 't':
                listing[tf][i] = 1
            else:
                listing[tf][i] = 0

Processing column host_is_superhost
Processing column host_has_profile_pic
Processing column host_identity_verified
Processing column is_location_exact
Processing column has_availability
Processing column requires_license
Processing column instant_bookable
Processing column is_business_travel_ready
Processing column require_guest_profile_picture
Processing column require_guest_phone_verification

### Convert host_response_time

In [54]:
host_response_time = make_table('host_response_time')
host_response_time

   host_response_time  counts  Num_Represent
4      within an hour   12538              5
0                   0    7444              4
3  within a few hours    2437              3
2        within a day    1322              2
1  a few days or more     448              1

In [55]:
listing['host_response_time'] = \
    listing['host_response_time'].replace('within an hour', -1).replace('within a few hours', -5).replace('within a day', -24).replace('a few days or more', -120)

## Convert cancellation_policy

Deatil Airbnb cancellation policy refer to this url: https://www.airbnb.com/home/cancellation_policies#flexible

In [56]:
cancel = make_table('cancellation_policy')
cancel

           cancellation_policy  counts  Num_Represent
3  strict_14_with_grace_period    9676              6
0                     flexible    8068              5
1                     moderate    6379              4
4              super_strict_30      44              3
5              super_strict_60      26              2
2                       strict       1              1

In [57]:
listing['cancellation_policy'] = \
    listing['cancellation_policy'].replace('flexible', '120').replace('moderate', '24').replace('strict', '0') \
                                    .replace('strict_14_with_grace_period', '-14').replace('super_strict_30', '-30').replace('super_strict_60', '-60')

## Convert time to timestamp

In [58]:
def convert_time(col_name: str):
    for i in range(amount):
        try:
            listing[col_name][i] = datetime.strptime(listing[col_name][i], '%Y/%m/%d').timestamp()
        except TypeError:
            pass

In [59]:
convert_time('host_since')
convert_time('first_review')
convert_time('last_review')

## Delete empty zipcode

In [60]:
empty_index = []
for z in range(len(listing.zipcode)):
    if type(listing.zipcode[z]) is float:
        empty_index.append(z)

for idx in empty_index:
    listing = listing.drop([listing.index[idx - empty_index.index(idx)]])
listing.shape

(24085, 68)

In [61]:
listing

             id    host_id   host_since host_response_time host_response_rate  host_acceptance_rate host_is_superhost  host_listings_count  host_total_listings_count host_verifications host_has_profile_pic host_identity_verified zipcode  latitude  longitude is_location_exact property_type room_type  accommodates  bathrooms  bedrooms  beds bed_type amenities  square_feet   price weekly_price monthly_price security_deposit cleaning_fee  guests_included extra_people  minimum_nights  maximum_nights  minimum_minimum_nights  maximum_minimum_nights  minimum_maximum_nights  maximum_maximum_nights  minimum_nights_avg_ntm  maximum_nights_avg_ntm has_availability  availability_30  availability_60  availability_90  availability_365  number_of_reviews  number_of_reviews_ltm first_review  last_review  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value requires_license  jurisdiction_names instant_bookable is_business_travel_ready cancellation_policy require_guest_profile_picture require_guest_phone_verification  calculated_host_listings_count  calculated_host_listings_count_entire_homes  calculated_host_listings_count_private_rooms  calculated_host_listings_count_shared_rooms  reviews_per_month
0          9835      33057  1.25078e+09                  0                  0                   0.0                 0                  1.0                        1.0                 29                    0                      0    3105 -37.77268  145.09213                 0            36         3             2        1.0       1.0   2.0        5        51          0.0   60.00          NaN           NaN              NaN          NaN                1        22.00               1             365                       1                       1                     365                     365                     1.0                   365.0                1               30               60               90               365                  4                      0  1.30617e+09  1.44199e+09                  90.0                     9.0                       10.0                   10.0                         10.0                     9.0                  9.0                0                 0.0                0                        0                 -14                             0                                0                               1                                            0                                             1                                            0               0.04
1         10803      38901  1.25303e+09                 -1                100                   0.0                 1                  1.0                        1.0                 55                    1                      1    3057 -37.76651  144.98074                 1            37         3             2        1.0       1.0   1.0        4       487        226.0   35.00       200.00        803.00             0.00        11.00                1        15.00               3              30                       3                       3                      30                      30                     3.0                    30.0                1               12               19               28               204                129                     30  1.35792e+09  1.56493e+09                  89.0                    10.0                        9.0                   10.0                          9.0                     9.0                  9.0                0                 0.0                1                        0                 -14                             1                                1                               1                                            0                                             1                                            0               1.59
2         12936      50121  1.25692e+09                 -1                100                   0.0                 0                 13.0                       13.0                 79                    1                      1    3182 -37.85976  144.97737                 1            37         4             2        1.0       1.0   1.0        5       520          0.0  159.00      1253.00       4452.00           450.00       100.00                2         0.00               3              27                       3                       3                      27                      27                     3.0                    27.0                1               15               23               48                49                 30                     17  1.28085e+09  1.56329e+09                  92.0                     9.0                        9.0                   10.0                         10.0                     9.0                  9.0                0                 0.0                0                        0                 -14                             0                                0                              14                                           14                                             0                                            0               0.27
3         15246      59786  1.25977e+09                  0                  0                   0.0                 0                  3.0                        3.0                106                    1                      1    3071 -37.75897  144.98923                 1            36         3             1        1.5       1.0   1.0        5       249          0.0   49.00       250.00        920.00           200.00        15.00                1        20.00               2             200                       2                       2                     200                     200                     2.0                   200.0                1                0                0                0                 0                 29                      0  1.29372e+09  1.49478e+09                  94.0                     9.0                        9.0                   10.0                         10.0                     9.0                  9.0                0                 0.0                0                        0                  24                             0                                0                               2                                            1                                             1                                            0               0.27
4         16760      65090  1.26141e+09                 -5                100                   0.0                 0                  1.0                        1.0                 92                    1                      1    3183 -37.86453  144.99224                 1            36         3             2        1.0       1.0   1.0        5       174          0.0   68.00       400.00       1900.00              NaN        15.00                1        20.00               1              90                       1                       1                      90                      90                     1.0                    90.0                1               23               53               83               302                 75                     15  1.32345e+09  1.55906e+09                  90.0                     9.0                       10.0                   10.0                         10.0                    10.0                  9.0                0                 0.0                0                        0                  24                             0                                0                               1                                            0                                             1                                            0               0.79
...         ...        ...          ...                ...                ...                   ...               ...                  ...                        ...                ...                  ...                    ...     ...       ...        ...               ...           ...       ...           ...        ...       ...   ...      ...       ...          ...     ...          ...           ...              ...          ...              ...          ...             ...             ...                     ...                     ...                     ...                     ...                     ...                     ...              ...              ...              ...              ...               ...                ...                    ...          ...          ...                   ...                     ...                        ...                    ...                          ...                     ...                  ...              ...                 ...              ...                      ...                 ...                           ...                              ...                             ...                                          ...                                           ...                                          ...                ...
24189  38610335  285240939  1.56563e+09                 -5                100                   0.0                 0                  6.0                        6.0                 98                    1                      0    3013 -37.81227  144.89830                 1            36         1             1        1.5       1.0   1.0        5       184          0.0   35.00          NaN           NaN              NaN          NaN                1         0.00               5            1125                       5                       5                    1125                    1125                     5.0                  1125.0                1               30               60               90               365                  0                      0          NaN          NaN                   0.0                     0.0                        0.0                    0.0                          0.0                     0.0                  0.0                0                 0.0                0                        0                 120                             0                                0                               6                                            0                                             0                                            6               0.00
24190  38610345  160772288  1.51197e+09                 -5                 96                   0.0                 0                 19.0                       19.0                 18                    1                      0    3031 -37.78645  144.93335                 1            36         1             4        2.0       1.0   1.0        5       173          0.0   25.00          NaN           NaN           200.00        25.00                1        24.00              14            1125                      14                      14                    1125                    1125                    14.0                  1125.0                1               30               60               90               365                  0                      0          NaN          NaN                   0.0                     0.0                        0.0                    0.0                          0.0                     0.0                  0.0                0                 0.0                0                        0                 120                             0                                0                              19                                            0                                             8                                           11               0.00
24191  38610653  285240939  1.56563e+09                 -5                100                   0.0                 0                  6.0                        6.0                 98                    1                      0    3013 -37.81227  144.89830                 1            36         1             1        1.5       1.0   1.0        5       197          0.0   35.00          NaN           NaN              NaN          NaN                1         0.00               5            1125                       5                       5                    1125                    1125                     5.0                  1125.0                1               26               56               86               361                  0                      0          NaN          NaN                   0.0                     0.0                        0.0                    0.0                          0.0                     0.0                  0.0                0                 0.0                0                        0                 120                             0                                0                               6                                            0                                             0                                            6               0.00
24192  38612012   50268144   1.4489e+09                  0                  0                   0.0                 0                  1.0                        1.0                 55                    1                      0    3121 -37.81287  145.00256                 0            35         3             1        1.0       1.0   1.0        5       378          0.0   65.00          NaN           NaN           200.00        70.00                1         0.00               2            1125                       2                       2                    1125                    1125                     2.0                  1125.0                1               28               58               88               116                  0                      0          NaN          NaN                   0.0                     0.0                        0.0                    0.0                          0.0                     0.0                  0.0                0                 0.0                0                        0                 120                             0                                0                               1                                            0                                             1                                            0               0.00
24193  38613509   50405671  1.44899e+09                 -1                 95                   0.0                 0                 16.0                       16.0                 84                    1                      0    3008 -37.81575  144.94756                 1            37         4             6        2.0       2.0   2.0        5       522          0.0  140.00          NaN           NaN           300.00       120.00                4        30.00               1            1125                       1                       1                    1125                    1125                     1.0                  1125.0                1               28               58               88               363                  0                      0          NaN          NaN                   0.0                     0.0                        0.0                    0.0                          0.0                     0.0                  0.0                0                 0.0                0                        0                 -14                             0                                0                              17                                           17                                             0                                            0               0.00

[24085 rows x 68 columns]

## Output to csv file

In [62]:
listing.to_csv('listing-processed.csv')